h1 {
    color: crimson;
} 
h2 {
    color: aqua;
}
.pirate {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color: darkred;
}
.pirate {
    
    font-weight: 10000;
    font-style: italic;
    text-shadow: 2px 2px 1px gold;
    color: darkred;
    font-family: 'Arial Black';
  }
  .tableau {
    border: 2px solid #666 ;
    border-collapse: collapse;
  }
  .tableau {
    border-collapse: collapse; /* Fusionne les bordures adjacentes */
    width: 100%; /* Largeur du tableau */
    margin: 20px 0; /* Marge externe */
    font-family: Arial, sans-serif;
  }